extends ../layout/index 

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Donec iaculis orci urna, ut venenatis mi varius nec. Curabitur vitae facilisis elit. Praesent congue turpis in lacus ornare venenatis. Proin sed nisl venenatis quam porta tristique. Praesent sollicitudin nec velit in egestas. Aliquam erat volutpat.
                p Pellentesque dignissim nisl lacus, ac sodales velit dapibus vel. Maecenas suscipit
                    |  ullamcorper quam non congue. Vivamus id odio porttitor, pulvinar mi sit amet, iaculis
                    |  est. Donec rutrum dui turpis, vel hendrerit felis ullamcorper non.
                    |  Praesent congue turpis in lacus ornare venenatis. Proin sed nisl venenatis quam 
                    |  mauris, auctor nec tincidunt ut, iaculis eget diam. Morbi viverra ut n
                    |  porta tristique. Praesent sollicitudin nec velit in egestas. Aliquam erat volutpat.
                p Praesent congue turpis in lacus ornare venenatis. Proin sed nisl venenatis quam 
                    |  mauris, auctor nec tincidunt ut, iaculis eget diam. Morbi viverra ut n
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p auctor nec tincidunt ut, iaculis eget diam. Morbi viverra ut n
                     |  porta tristique. Praesent sollicitudin nec velit in egestas. Aliquam erat volutpat.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p auctor nec tincidunt ut, iaculis eget diam. Morbi viverra ut n
                     |  porta tristique. Praesent sollicitudin nec velit in egestas. Aliquam erat volutpat
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p auctor nec tincidunt ut, iaculis eget diam. Morbi viverra ut n
                     |  porta tristique. Praesent sollicitudin nec velit in egestas. Aliquam erat volutpat

